<div class="Rectangle">
    <div class="row">
        <div>
            <div class="title">
                <p>
                    <span class="Video-Course-1-Name">{{course.title}}</span>
                    <span class="h-28-min" alignment="right">{{course.duration}}</span>
                    <span class="-Nov-2018" alignment="right">
                        {{course.creationDate  | date:'dd MMMM yyyy'}}
                    </span>
                </p>
            </div>
            <div class="description">
                <p>
                <span class="Learn-about-where-yo">
                {{course.description}}
                </span>
                <span>
                    <button type="button" class="edit-button">Edit</button>
                </span>
                <span>
                    <button type="button" class="delete-button" (click)="deleteItem()">Delete</button>
                </span>
                </p>
            </div>
        </div>
    </div>
</div>
            
