$white: #ffffff;
.Courses {
    width: 48px;
    height: 24px;
    font-family: SourceSansPro;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: var(--dark);
}

.Rectangle {
    width: 1280px;
    height: 64px;
    background-color: $white;
    margin-bottom: 20px;
}